language: php
sudo: false

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5
    - 7.0
    - hhvm
    - nightly

before_script:
    - composer config disable-tls true
    - composer install --prefer-source

script: vendor/bin/phpunit

notifications:
    email: false
