parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with array\{''\<''\?\: int, ''\>''\?\: int, ''\<\=''\?\: int, ''\>\=''\?\: int\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DOMAssert.php
