includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    tipsOfTheDay: false
    paths:
        - src/
        - tests/
    excludePaths:
        analyseAndScan:
            - test/fixtures/*
            - test/tmp/*
    ignoreErrors:
        -
            message: "#^Unreachable statement - code above always terminates\\.$#"
            count: 56
            path: tests/DOMTestCaseTest.php
